# Dataset Lab

In [1]:
from discover.infra.utils.file.io import IOService
import pandas as pd

pd.set_option("display.max_columns", 999)

In [2]:
from datetime import datetime


fp = "workspace/dev/dataset/01_dataprep/appvocai_discover-01_dataprep-01_clean-review-dataset.parquet"
df = IOService.read(fp)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211924 entries, 0 to 211923
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             211924 non-null  string
 1   app_id         211924 non-null  string
 2   app_name       211924 non-null  string
 3   category_id    211924 non-null  category
 4   author         211924 non-null  string
 5   rating         211924 non-null  int16
 6   content        211924 non-null  object
 7   vote_sum       211924 non-null  int64
 8   vote_count     211924 non-null  int64
 9   date           211924 non-null  datetime64[ms]
 10  review_length  211924 non-null  int64
 11  category       211924 non-null  category
dtypes: category(2), datetime64[ms](1), int16(1), int64(3), object(1), string(4)
memory usage: 15.4+ MB

In [4]:
df.head()

,id,app_id,app_name,category_id,author,rating,content,vote_sum,vote_count,date,review_length,category
0,5701902,287370390,The Scriptures,6018,4c6d302f5d69e06fa2c9,5,I'm glad someone came out with a free one!,8,8,2008-08-11 13:08:00,9,Book
1,5843313,287370390,The Scriptures,6018,531960ef3c7c382ca434,5,Awesome! And not someone trying to prositute t...,0,0,2008-08-21 22:30:00,15,Book
2,6267207,287370390,The Scriptures,6018,8492a784d3688e3d3d6b,5,Now here's a guy who gets it. He made a near p...,1,1,2008-09-29 02:42:00,39,Book
3,7236980,287370390,The Scriptures,6018,cc4198e88510ea8eeead,5,When is the new update coming out? Be sure to ...,0,0,2008-11-25 03:18:00,20,Book
4,15340469,287370390,The Scriptures,6018,35bc35f17d7bf573b9d7,5,Now I can have the scriptures everywere I go i...,0,0,2009-01-04 21:24:00,33,Book